{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'App/show_restaurant.css' %}" />
<main class="store-page">
  <div class="store-container">
    <div class="restaurant-grid">
      {% for restaurant in restaurants %}
      <div class="restaurant-card">
        <div class="image-box">
          {% if restaurant.image %}
          <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}" />
          {% endif %}
        </div>

        <div class="card-body">
          <div class="title-row">
            <h3>{{ restaurant.name }}</h3>
            <span class="rating">{{ restaurant.rating }}</span>
          </div>

          <p class="category">{{ restaurant.description|truncatechars:40 }}</p>

          <p class="location">{{ restaurant.address }}</p>

          <div class="meta">
            <span
              >{{ restaurant.opening_time }} - {{ restaurant.closing_time
              }}</span
            >
            <span>{{ restaurant.phone_number }}</span>
          </div>
        </div>
        <div class="admin-actions">
          <a href="{% url 'edit-restaurant' restaurant.id %}" class="btn edit"
            >Edit</a
          >
          <a href="{% url 'admin-menu' restaurant.id %}" class="btn menu"
            >Menu</a
          >
          <a
            href="{% url 'delete-restaurant' restaurant.id %}"
            class="btn delete"
            >Delete</a
          >
        </div>
      </div>
      {% empty %}
      <p class="empty-text">No restaurants available.</p>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
