<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}

    <link rel="stylesheet" href="{% static 'App/base.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav>
      <div class="nav-content">
        <div class="right-side">
          {% load static %}
          <img
            src="{% static 'App/logo.svg' %}"
            alt="DineDesk Logo"
            height="70"
          />
        </div>
        <div class="left-side">
          <ol class="nav-options">
            <li class="cart">
              <a href="/" title="cart" id="cart">
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
            <li class="profile">
              <a href="profile" title="profile" id="profile">
                <i class="fa-solid fa-user"></i>
              </a>
            </li>
            <li>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider"></span>
              </label>
            </li>
          </ol>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer>
      <!-- <h1>footer</h1> -->
    </footer>
  </body>
</html>
