{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'App/login.css' %}" />

<section class="auth-wrapper">
  <form class="auth" method="post">
    {% csrf_token %}

    <h1>Welcome Back!</h1>

    <div class="input-container">
      <input
        type="email"
        class="input-field"
        name="email"
        required
      />
      <label class="input-label">Enter email</label>
      <span class="input-highlight"></span>
    </div>

    <div class="input-container">
      <input
        type="password"
        class="input-field"
        name="password"
        required
      />
      <label class="input-label">Enter password</label>
      <span class="input-highlight"></span>
    </div>

    <button type="submit">Log In</button>

    <p>
      Don’t have an account?
      <a href="/signup-account">Sign up</a>
    </p>
  </form>
</section>
{% endblock %}
