{% extends 'base.html' %}

{% block content %}
{% load static  %}
<link rel="stylesheet" href="{% static 'App/login.css' %}" />
 <main>
    <div class="container-fluid">
      <form class="auth" id="auth" method="post">

        {% csrf_token %}
        <h1 style="margin-bottom: 10px;">Welcome Back!</h1>
        <div class="input-container">
          <input
            id="email"
            type="email"
            class="input-field"
            placeholder="Enter your email"
            name="email"
            required
          />
          <label for="email" class="input-label">Enter email</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input
            id="password"
            type="password"
            class="input-field"
            placeholder="Enter your password"
            name="password"
            required
          />
          <label for="password" class="input-label">Enter password</label>
          <span class="input-highlight"></span>
        </div>

        <button id="logIn" type="submit">Log In</button>

        <p title="Sign Up" style="font-size: 1.1rem; font-weight: 600;">
          Don’t have an account?
          <span>
            <a href="/signup-account" id="signUp">Sign up</a>
          </span>
          now!
        </p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
